.button {
  width: fit-content;
  height: 30px;
  border: none;
  background-color: var(--brown);
  border-radius: 8px;
  color: var(--beige);
  transition: 0.2s ease-in-out;
  font-weight: 700;
  border: 2px solid var(--brown);
  padding: 5px;
}
.button:hover {
  background-color: transparent;
  color: var(--brown);
}
