* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --gray-5: #121214;
  --gray-4: #212529;
  --gray-3: #343b41;
  --gray-2: #868e96;
  --gray-1: #ededee;
  --gray-0: #f8f9fa;
  --dark-green: #394736;
  --faded-green: #696b46;
  --beige: #b99555;
  --red-brown: #a8462d;
  --brown-gray: #5c584c;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--gray-1);
}
article {
  background-color: var(--gray-0);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}
button {
  cursor: pointer;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 100px;
  text-align: center;
}
