.divCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 15px;
  margin-top: 20px;
  justify-content: space-around;
  background-color: var(--black);
  border-radius: 8px;
  color: var(--gray-1);
  box-shadow: 5px 5px 5px 2px var(--gray-2);
  img {
    width: 130px;
    border-radius: 10px;
    box-shadow: 3px 2px 8px 1px var(--gray-3);
  }

  .cardDownSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    width: 50%;
    h2 {
      margin-bottom: 30px;
      width: 100%;
    }
  }
}
.recipe {
  width: 90%;
  max-width: 600px;
  flex-direction: column;
  animation: fade 0.5s linear forwards;

  img {
    width: 80%;
    border-radius: 10px;
    max-width: 600px;
    margin: 30px 0px;
    box-shadow: 3px 2px 8px 1px var(--gray-3);
  }
  .ingredients {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    color: var(--gray-1);
  }
  li {
    text-align: start;
    font-size: 15px;
    font-weight: bold;
    color: var(--beige);
    margin-left: 30px;
  }
  .instructionsLabel {
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: var(--gray-1);
  }
  .instructions {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0px 30px;
    width: 70%;
    color: var(--beige);
  }
  .typeAndCategory {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: var(--beige);
    padding-bottom: 30px;
  }
  .divType {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .typeLabel {
    font-size: 16px;
    font-weight: bold;
    color: var(--gray-1);
  }
  .type {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }
  .divCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .categoryLabel {
    font-size: 16px;
    font-weight: bold;
    color: var(--gray-1);
  }
  .category {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
